body {
    font-family: Arial, sans-serif;
}

.signupForm {
    width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

h2,
h3 {
    color: #333;
}

h3 {
    margin-top: 40px;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ccc;
}

.form-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.form-field label {
    width: 100px;
}

.form-field input,
.form-field textarea {
    width: 300px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-field button {
    width: 110px;
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.radioGender{
    margin-bottom: 12px;
}
.form-field input[type="radio"] {
    display: inline-block;
    margin-right: 10px;
}

.form-field button:hover {
    background-color: #e0e0e0;
}
#gender {
    margin-right: 65px;
}

.submitForm {
    display: block;
    width: 100px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #D3233A;
    cursor: pointer;
}

.submitForm:hover {
    background-color: #c00;
}